<%- include('../partials/top') %>
<%- include('../partials/sidehovud', { title: 'Fann ikkje sida', lead: 'Sida du leitte etter finst ikkje – kanskje ho har flytta på seg.', image: null }) %>
<section class="seksjon">
  <div class="ramme brodtekst brodtekst-smal">
    <p><a class="pil-lenke" href="/">Gå til framsida</a></p>
    <p>Leitar du etter noko bestemt? <a href="/kontakt">Ta kontakt</a>, så hjelper vi deg.</p>
  </div>
</section>
<%- include('../partials/bottom') %>
